
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>plantBUDS</title>
  {% load static %}
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'share/startbootstrap/vendor/bootstrap/css/bootstrap.min.css' %}"/>

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'share/startbootstrap/css/one-page-wonder.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'share/startbootstrap/css/one-page-wonder.css' %}"/>

  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top" style="background-color: rgba(255,255,255,0);">
    <div class="container">
      <a class="navbar-brand" href="{% url 'share:index' %}"><div class="navText" style="font-size:25px;">plantBUDS</div></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbarContainer collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            # These nav link URLs have to follow this format since other pages extend base.html
            <a class="nav-link" href="{% url 'share:dashboard' %}">My Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'share:signup' %}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'share:login' %}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'share:logout' %}">Logout {{user.username}}</a>
          </li>

<!--
          {% if request.path == "/login" or request.path == "/loguser" %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'share:signup' %}">Signup</a>
          </li>
           {% elif request.path == "/signup"  %}
           <li class="nav-item">
             <a class="nav-link" href="{% url 'share:login' %}">Login</a>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'share:logout' %}">Logout {{user.username }}</a>
          </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="logout">Logout</a>
          </li>
-->
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <header class="jumbotron my-4" style="background-image: url('/static/share/images/unnamed.jpg'); background-repeat: no-repeat;">
      <h1 class="title is-2" style="text-align: center">plantBUDS</h1>
      <p class="lead" style="text-align: center">LEARN MORE ABOUT PLANTS</p>
      <a href="{% url 'share:info_page' %}" class="btn btn-primary btn-lg" style="float: right">Learn More</a>
    </header>
  </div>

  <section>
    {% block content%}
    {% endblock %}
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; PlantBuds 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/share/startbootstrap/vendor/jquery/jquery.min.js"></script>
  <script src="../static/share/startbootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
