{% extends "share/base.html" %}
{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="title is-2"> Hello &nbsp<span style="color:#1496ed">{{ user.username }}</span></h1>
      <p class="lead">You can publish new posts here:</p>
      <a href="{% url 'share:publish_post' %}" class="btn btn-primary btn-lg">Publish a post!</a>
      <p class="lead">Posts created by you:</p>
      <a href="#" class="btn btn-primary btn-lg">Show your posts!</a>
    </header>

    <section>
      {% block posts %}
      {% endblock %}
    </section>

  </div>
  <!-- /.container -->

{% endblock %}
