{% extends "share/dashboard.html" %}
{% block posts %}

<div class="columns">
    <div class="column is-one-fifth">
    </div>

    <div class="column" >

      {% if error %}
        <h3 class="title is-3" style="color: red">{{ error }}</h3>
      {% endif %}

      <h4 class="title is-5"> Update your post!</h4>

      <form action="{% url 'share:update_post' plantbuddy.id %}" method="post">
        {% csrf_token %}

        <div class="field">
          <div class="control">
            <label class="label">*Post title</label>
            <input class="input is-primary" value="{{ posts.title }}" type="text" name="title">
          </div>
        </div>

        <div class="field">
              <div class="control">
                <label class="label">*Description</label>
                <textarea class="input is-primary" name="description" namerows="4" cols="50" >{{posts.description }}
                </textarea>
              </div>
        </div>

        <div class="field">
              <div class="control">
                <label class="label">*Body</label>
                <textarea class="input is-primary" name="description" namerows="10" cols="50" >{{posts.body }}
                </textarea>
              </div>
        </div>


        <div class="field">
          <div class="control">
            <label class="label">Subject</label>
            <select class="input is-primary" value="{{ posts.subject }}" name="subject">
              <option value="farming">Farming</option>
              <option value="gardening">Gardening</option>
              <option value="general">General</option>
            </select>
          </div>
        </div>

        <!--
        <hr> ######### testing ########  <br>
        make_public: {{posts.make_public}} <br>
        #################################### <br>
        -->

        <label class="checkbox">
            {% if posts.make_public %}
              <br>This post is Public!

            {% else %}
              <br>This post is Private! Do you want to make this post public?
              <input type="checkbox"  id="make_public" name="make_public" />

            {% endif %}
        </label>

        <br><br><br>

        <div class="field">
            <div class="control">
              <button class="button is-success is-outlined is-fullwidth" type="submit" value="Update">Update</button>&nbsp;
            </div>
        </div>

        </form>

        <h3 class="title is-5">Delete posts {{ posts.title }}</h3>
        <form action="#" method="post">
            {% csrf_token %}
             <button class="button is-danger is-outlined is-fullwidth" type="submit" name="delete" value="Delete">Delete</button>&nbsp;

        </form>

</div>
<div class="column ">
</div>

{% endblock %}
