{% extends "share/base.html" %}
{% block content %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-10">

        <h1 class="my-4" style="color: rgb(214, 121, 0);">plantBUDS Blog</h1>

{% for p in all_posts %}
        <!-- Blog Post -->
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">{{ p.title }}</h2>
            <p class="card-text">{{ p.description }}</p>

            <a href="{% url 'share:show_posts' p.id %}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            {{ p.created }}
            <a href="#">{{ p.plantbuddy.user.username }}</a>
          </div>
        </div>
{% endfor %}
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item disabled">
            <a class="page-link" href="#">&larr;Newer </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Older&rarr; </a>
          </li>
        </ul>
      </div>
      </div>
    </div>
    <!-- /.row -->
{% endblock %}
