{% extends 'share/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

<body>

  <!-- Navigation -->
  <!--
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <!--
  <div class="container">

    <header class="jumbotron my-4">
      <h2 class="display-3">Look at what other people have said!</h2>
    </header>

    <div class="row text-left">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="icon">
          <div class="card-body">
            <h4 class="card-title">Farming 101</h4>
            <p class="card-text">Learn the most you can about farming!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">The best seeds for each season!</h4>
            <p class="card-text">Each season has specific seeds related to it, so it can actually grow.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">The best season to plant for the best results!</h4>
            <p class="card-text">Personally, the best season the plant is Spring!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">My favorite seeds!</h4>
            <p class="card-text">I'll show you my favorite top 10 seeds and why!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>
-->

      <div class="columns">
          <div class="column">
              <div class="tile is-ancestor has-text-centered">
                  <div style="margin: auto;" class="tile is-parent">
                      <div class="tile is-child box">
                          <h1 class="title is-2"> Hello &nbsp<span style="color:#1496ed">{{ user.username }}</span></h1>

                          <h4 class="title is-5">You can publish new posts here:</h4>
                          <a class="button is-info is-medium" href="#">Publish a new post!</a>
                      </div>
                  </div>
              </div>

                  <!-- This is only for testing to see the objects were passed to the template by the view -->

                 <hr> ############ testing #######  <br>
                  ################################## <br>
                  <hr>
                      <div class="box">
                      <h2 class="title" style="color:#00d1b2">Posts you've created:</h2>
<!--
                      {% for p in problem %}
                              <div class="content"> {{ p.title }}
                                <a class="button is-primary is-small" href="{% url 'share:problem' p.id %}">Show more ...</a>


                              </div>
                      {% endfor %}
                      </div>

                      <div class="box">
                        <h2 class="title " style="color:#00d1b2">Scripts written by you:</h2>
                      {% for s in script %}
                              <div class="content">
                                  <br>Script Title: {{ s.title }}, Solves: {{ s.problem.title }}, posted by {{s.problem.coder.user.username}}

                                  <a class="button is-primary is-small" href="{% url 'share:script' s.id %}">Show more ...</a>
                              </div>
                      {% endfor %}
                      </div>
                      -->
          </div>
      </div>


{% endblock %}
