{% extends "share/base.html" %}

{% block content %}

<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <div class="columns">
        <div class="column ">

          <nav class="panel">
            <p class="panel-heading" style="text-align:center">
              <span><strong><h2>Registration Form</h2></strong></span>
            </p>
            <div class="panel-block">
              <!-- the action of the form goes to create function in views.py -->
              <form class="control" action="{% url 'share:create' %}" method="post">
                {% csrf_token %}
                <div class="field">
                  <label class="label">Username</label>
                  <div class="control has-icons-left has-icons-right">
                    <input class="input" placeholder="Username" type="text" name="username"/>
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control has-icons-left has-icons-right">
                    <input class="input" placeholder="Email" type="email" name="email"/>
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fas fa-exclamation-triangle"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Password</label>
                  <div class="control has-icons-left">
                    <input class="input" placeholder="Password" type="password" name="password">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  <div class="field">
                    <p class="control">
                      <button class="button btn-xl" style="margin-top: 10px" type="submit" value="Signup">Signup</button>
                    </p>
                  </div>
                </div>
                <div class="field">
                  <p class="control">
                    <button class="btn btn-primary btn-xl rounded-pill mt-4" type="submit" value="Signup">Signup</button>
                  </p>
                </div>
                <label class="checkbox">
                  <input type="checkbox" id="farm_pro_checkbox" name="farm_pro_checkbox", value=False />
                  <!-- Returns True if the checkbox is checked -->
                  Click here to register your farm and create a free PlantBudPRO Account!
                </label>
              </form>
            </div>
          </nav>
        </div>
      </div>
  </div>
</div>

{% endblock content %}
